body{
    background-image: url("../styles/img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header tr td{
    width: 33%;
    text-align: center;
}

#header{
    text-align: center;
    width: 100%;
    background: black;
    color: white;
    padding: 4px 16px 4px;
    margin: auto;
    height: 60px;
    justify-content: space-between;
    font-family: monospace;
    font-size: large;
}


#table {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-top: 140px;
    align-items: center;
}


.buttons{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttons:hover{
    background-color: #2b8500;
}
.buttons:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}
